---
import MainLayout from "../../layouts/MainLayout.astro";
import AuthorsCloud from "../../components/AuthorsCloud.astro";
---

<MainLayout title="Categories Page">
  <section class="container" aria-label="All Categories Page">
    <h1 class="h1">Authors Page</h1>    
    <AuthorsCloud showCount={true}/>
  </section>
</MainLayout>