---
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";
import Link from "../components/Link.astro";

import {formatBlogPosts} from "../js/utils.js";
const allPosts = await Astro.glob("./blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  limit: 3
});

// const isPurple = true;
---

<MainLayout title="Home" description="My Home Page">
  <section class="container about" aria-label="About Me">
    <img
      src="/images/headshot.webp"
      alt="My headshot"
      width="200"
      height="330"
    />
    <div class="content">
      <h1 class="h1">My Blog</h1>
      <p>
        As a web-developer, I have knowledge of such programming languages as JavaScript and Python as well as of such technologies as React, Redux, Sass, and BEM. I also have experience working with Figma and Postgresql for frontend and backend development. 
      </p>
      <p>
        I have basic skills in databases, especially in database administration and migrations and in operations like query writing, relational model design. I have experience in hosting management and primary SEO methodologies.
      </p>
      <p>
        In addition, I'm currently studing the Django web framework, which includes authentication, database models, and REST APIs. I'm eager to apply my skills to develop real-life high-quality and scalable web applications.
      </p>
      <p>
        This very site integrates Astrojs with Strapi and Cloudify for better web app performance on the server-side, plus quick response on the client-side.
      </p>
      <Link
        href="https://t.me/eva_eng"
        style="secondary"
        text="Contact Me"
      />
    </div>
  </section>
  <section class="container" aria-label="New Blog Posts">
    <h2 class="h1">New Blog Posts</h2>
    <div class="post-container">
      {
        formattedPosts.map((post) => 
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h3"
          />
        )
      }
    </div>
  </section>
</MainLayout>


<!-- <style>
  .big {
    font-size: 1.5rem;
  }
  .purple {
    color: rgb(99, 50, 190);
  }
</style> -->